<section style="margin: 60px 32px 32px 32px">
  <h1 style="text-align: center">IBN KHALDON</h1>
  <h3 style="text-align: center">Choose Your Area</h3>
  <!-- @if (showSelection) { -->

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Area</mat-label>
      <input
        type="text"
        matInput
        required
        [formControl]="myControl"
        [matAutocomplete]="auto"
        (click)="myControl.setValue('')"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{ option.name }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Year</mat-label>
      <input
        #input
        type="text"
        placeholder="Pick year"
        matInput
        required
        [formControl]="yearControl"
        [matAutocomplete]="autocomplete"
        (input)="filter($event)"
        (click)="yearControl.setValue('')"
      />
      <mat-autocomplete requireSelection #autocomplete="matAutocomplete">
        @for (option of filteredYears; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <button
      mat-flat-button
      [disabled]="!yearControl.value || !myControl.value"
      style="background-color: rgb(2, 185, 241); color: #fff"
      class="example-full-width"
      (click)="getAreaData()"
    >
      Get Prices
    </button>
  </form>
  <!-- }@else{
  <div style="display: flex; justify-content: center">
    <button
      mat-flat-button
      style="background-color: rgb(2, 239, 164)"
      (click)="showSelection = true"
    >
      choose Again
    </button>
  </div>
  } -->
</section>
<!-- displayed data -->
<section style="margin: 32px">
  @if(isLoading){
  <mat-spinner></mat-spinner>

  } @else { @if(displayedAreas.length){
  <h2>{{ area }}</h2>
  <h2>{{ year }}</h2>
  } @for (item of displayedAreas; track $index) {
  <div class="card">
    @if(item['predict price']){
    <p>
      predicted Price: <span>{{ item["predict price"] }}</span>
    </p>
    } @if(item['predict price']){

    <p>
      Actual Price: <span>{{ item["predict price"] }}</span>
    </p>
    }
  </div>
  }@if(showError) {
  <h2 style="text-align: center">no data for this Year</h2>
  } @if(displayedAreas.length){

  <div style="margin: 32px">
    <app-line-chart [areas]="areas"></app-line-chart>
  </div>
  } }
</section>
